@media (min-width: 768px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}

.blog-entry {
    .text {
        position     : relative;
        border-top   : 0;
        border-radius: 2px;

        .heading {
            font-size    : 20px;
            margin-bottom: 16px;
        }

    }
}

.blog-entry .text .heading a {
    color: #000000;
}

.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
    color: var(--primary);
}

.blog-entry .text .meta-chat {
    color: var(--primary);
}

.blog-entry .meta-date {
    display   : inline-block;
    background: var(--primary);
}

.blog-entry .meta-date span {
    display: block;
    color  : #000000;
}

.blog-entry .meta-date .day {
    font-weight: 700;
    font-size  : 20px;
}

.blog-entry .meta-date .mos,
.blog-entry .meta-date .yr {
    font-size: 13px;
}

.blog-entry .meta>div {
    display      : block;
    margin-right : 5px;
    margin-bottom: 0px;
    font-size    : 15px;
}

.blog-entry .meta>div a {
    color    : #b3b3b3;
    font-size: 13px;
}

.blog-entry .meta>div a:hover {
    color: #cccccc;
}

.block-20 {
    overflow           : hidden;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
    height             : 275px;
    position           : relative;
    display            : block;
}


.block-27 {
    ul {
        padding: 0;
        margin : 0;

        li {
            display      : inline-block;
            margin-bottom: 4px;
            font-weight  : 400;
        }
    }
}

.block-27 ul li a,
.block-27 ul li span {
    border       : 1px solid var(--primary);
    text-align   : center;
    display      : inline-block;
    width        : 40px;
    height       : 40px;
    line-height  : 40px;
    border-radius: 50%;
}

.block-27 ul li.active a,
.block-27 ul li.active span {
    background: var(--primary);
    color     : #fff;
    border    : 1px solid transparent;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}


.d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.no-gutters {
    margin-right: 0;
    margin-left : 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left : 0;
}

.blog-details {
    img {
        width    : 100%;
        max-width: 100%;
    }
}

.sidebar-box {
    margin-bottom: 30px;
    padding      : 0 25px 25px;
    font-size    : 15px;
    width        : 100%;

    h3 {
        font-size    : 18px;
        margin-bottom: 20px;
    }
}

.block-21 .blog-img {
    display: block;
    height : 80px;
    width  : 80px;
}

.hotel-img,
.img,
.blog-img,
.user-img {
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
}

.block-21 .text {
    width: calc(100% - 100px);
}

.block-21 .text .heading {
    font-size  : 18px;
    font-weight: 400;
}

.block-21 .text .heading a {
    color: #000000;
}

.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
    color: var(--primary);
}

.block-21 .text .meta>div {
    display     : inline-block;
    font-size   : 12px;
    margin-right: 5px;
}

.block-21 .text .meta>div a {
    color: gray;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}


.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}


.m-5 {
    margin: 3rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}