.service-item {
    position  : relative;
    text-align: center;
}

.service-item .service-img {
    position: absolute;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;
    overflow: hidden;
    z-index : -1;
}

.service-item .service-img img {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    left      : 0;
    object-fit: cover;
    transform : scale(1.2);
    transition: .3s;
    z-index   : -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .3s;
}

.service-item:hover .service-text {
    background: rgba(15, 66, 41, .6);
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #FFFFFF;
}

.service-item:hover .service-text p {
    color: var(--light);
}

.service-item .service-text .btn-square {
    width     : 100px;
    height    : 100px;
    background: transparent;
    transition: .5s;
}

.service-item:hover .service-text .btn-square {
    background: var(--light);
}

.service-item .service-text .btn {
    width      : 31px;
    height     : 31px;
    display    : inline-flex;
    align-items: center;
    color      : var(--dark);
    background : var(--light);
    white-space: nowrap;
    overflow   : hidden;
    transition : .3s;
}

.service-item:hover .service-text .btn {
    width: 112px;
}

.who-we-are-details{
    margin-top: 3rem;
    img{
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.who-we-are-texts
{
    text-align: justify;
}

